<div class="website-header">
  <div class="website-header-left-section">
    <a href='/' class="header-link">
      <img class="website-logo" src="/img/website-logo.png">
    </a>
  </div>

  <div class="website-header-middle-section">
    <input class="search-input" id="search-destination" type="text" placeholder="Search destination">
    <div class="input-separator"></div>
    <input class="search-input" id="start-date" type="text" placeholder="Start date" class="search-input">
    <div class="input-separator"></div>
    <input class="search-input" id="end-date" type="text" placeholder="End date" class="search-input">
    <div class="input-separator"></div>
    <input class="search-input" id="add-guest" type="text" placeholder="Guests">
    <button class="search-button">
      <img class="search-icon" src="/img/icon/search-icon.png">
    </button>
  </div>

  <div class="website-header-right-section">
    <% if (typeof message != "undefined") { %>
      <%= message%>   
    <% } %>
    <img class="user-icon" src="/img/icon/default-user-icon.png">
    <div class="dropdown-menu">
      <% if (loggedIn) { %>
        <a href="#" id="userId" class="dropdown-item"><%=userId%></a>
        <a href="#" class="dropdown-item">Settings</a>
        <a href="/logout" id="logout-modal" class="dropdown-item">Log Out</a>
      <% }  else { %>
        <a href="#" id="login-modal" class="dropdown-item">Log in</a>
        <a href="#" id="signup-modal" class="dropdown-item">Sign up</a>
      <% } %>
    </div>

  </div>
</div>
