<div class="website-header">
  <div class="website-header-left-section">
    <a href='/' class="header-link">
      <img class="website-logo" src="img/website-logo.png">
    </a>
  </div>

  <div class="website-header-middle-section">
    <input class="search-input" id="start-location" type="text" placeholder="Start location">
    <div class="input-separator"></div>
    <input class="search-input" id="end-location" type="text" placeholder="End location">
    <div class="input-separator"></div>
    <input class="search-input" id="start-date" type="text" placeholder="Start date" class="search-input">
    <div class="input-separator"></div>
    <input class="search-input" id="end-date" type="text" placeholder="End date" class="search-input">
    <div class="input-separator"></div>
    <input class="search-input" id="add-guest" type="text" placeholder="Guests">
    <button class="search-button">
      <img class="search-icon" src="img/icon/search-icon.png">
    </button>
  </div>

  <div class="website-header-right-section">
    <img class="user-icon" src="img/icon/default-user-icon.png">
    <div class="dropdown-menu">
      <a href="#" class="dropdown-item">Sign up</a>
      <a href="#" class="dropdown-item">Log in</a>
      <a href="#" class="dropdown-item">Settings</a>
    </div>
  </div>
</div>