html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.itinerary-main {
  display: flex;
  height: 100vh; /*Adjust for header height*/
}

.itinerary-detail-grid {
  width: 50%;
  padding-top: 90px;
  padding-left: 105px;
}

#map {
  width: 50%;
  position: fixed;
  right: 0;
  top: 85px;
  height: calc(100% - 85px);
}
