.itinerary-card {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.itinerary-card:hover{
  box-shadow: 0 7px 14px rgba(0,0,0,0.2);
}

.itinerary-card img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 16px;
}
.itinerary-detail {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.itinerary-detail h3 {
  margin: 0;
  font-size: 1.2em;
}

.itinerary-edit-link{
  color: black;
  text-decoration: none;
}