<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="style/shared/header.css">
    <link rel="stylesheet" href="style/shared/general.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body>
    
    <div class="website-header">
      <div class="website-header-left-section">
        <a href='/' class="header-link">
          <img class="website-logo" src="img/website-logo1.png">
        </a>
      </div>

      <div class="website-header-middle-section">
        <input class="search-input" id="search-destination" type="text" placeholder="Search destinations">
        <div class="input-separator"></div>
        <input class="search-input" id="check-in" type="text" placeholder="Check-in" class="search-input">
        <div class="input-separator"></div>
        <input class="search-input" id="check-out" type="text" placeholder="Check-out" class="search-input">
        <div class="input-separator"></div>
        <input class="search-input" type="text" placeholder="Add guests">
        <button class="search-button">
          <img class="search-icon" src="img/icon/search-icon.png">
        </button>
      </div>

      <div class="website-header-right-section">
        <img class="user-icon" src="img/icon/default-user-icon.png">
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item">Sign up</a>
          <a href="#" class="dropdown-item">Log in</a>
          <a href="#" class="dropdown-item">Settings</a>
        </div>
      </div>
    </div>

    <script src="scripts/header.js"></script>
    
  </body>
</html>