<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Itinerary Detail</title>
    <!-- css files -->
    <link rel="stylesheet" href="/style/shared/header.css">
    <link rel="stylesheet" href="/style/shared/general.css">
    <link rel="stylesheet" href="/style/sidebar.css">
    <link rel="stylesheet" href="/style/itinerary.css">
    <!-- pre-hooked libraries and APIs  -->
    <%- include ('partials/links') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <%- include('partials/header') %>
        
    <div class="sidebar">
        Sidebar
        <a href="/chatbot" class="btn btn-primarty">AI Assistant</a>
    </div>

    <div class="itinerary-main">

        <!-- saved itinerary items -->
        <section class="itinerary-detail-grid">
            <h3>Itinerary</h3>
            <section class="saved-place-detail-grid">
                <div class="saved-place-overview">
                    <div id="saved-place-num">0 Places Saved</div>
                    <div class="saved-place-list"></div>
                </div>
                <div class="saved-place-details"></div>
            </section>
        </section>
        
            <!-- Trip content -->
        <section class="place-detail-grid">
            <div class="place-overview">
                <div class="place-filter">
                  <div class="filter-buttons">
                    <li class="filter-li" id="site">
                        <a class="btn btn-blue" href="#"><i class="material-icons">local_see</i>Site</a>
                    </li>
                    <li class="filter-li" id="hotel">
                        <a class="btn btn-yellow" href="#"><i class="material-icons">local_hotel</i>Hotel</a>
                    </li>
                    <li class="filter-li" id="mall">
                        <a class="btn btn-green" href="#"><i class="material-icons">local_mall</i>Shop</a>
                    </li>
                    <li class="filter-li" id="dining">
                        <a class="btn btn-orange" href="#"><i class="material-icons">local_dining</i>Food</a>
                    </li>
                    <li class="filter-li" id="cafe">
                        <a class="btn btn-purple" href="#"><i class="material-icons">local_cafe</i>Cafe</a>
                    </li>
                    <li class="filter-li" id="bar">
                        <a class="btn btn-pink" href="#"><i class="material-icons">local_bar</i>Drinks</a>
                    </li>
                  </div>
                  <div class="action-links" id="filter-actions">
                    <a id="clear-filter">Clear</a>
                    <a id="apply-filter">Apply</a>
                  </div>
                </div>
                <div id="place-num">0 Place</div>
                <div class="place-list"></div>
              </div>
              <div class="place-details"></div>
        </section>

        
        <section id="map"></section>
    </div>
        
    <%- include('partials/login.ejs') %>
    <%- include('partials/signup.ejs') %>

    <script src="/scripts/itinerary.js" type="module"></script>
    
</body>
</html>